<footer class="footer">
    <div class="footer__container">
        <section>

            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Projeto Loja Virtual, feito em Angular. Programa Start da Capgamini 
            </p>

        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-sharp fa-solid fa-envelope"></i> brunoassuncao84@gmail.com</li>
                <li><i class="fa-solid fa-phone"> (71) 99226-7036 </i></li>
                <li><i class="fa-brands fa-whatsapp">(71) 99226-7036 </i></li>
            </ul>

        </address>

    </div>

    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>


</footer>

